@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: 255, 255, 255;
  --secondary-color: 19, 84, 206;
  --main-bg-color: 0, 0, 0;

  --ff-primary: "Montserrat", san-seriff;
  --ff-secondary: "Hindu", san-seriff;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  --fs-nav: var(--fs-600);
  --fs-primary-header: var(--fs-800);
  --fs-secondary-header: var(--fs-700);
  --fs-body: var(--fs-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

html,
body {
  height: auto;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat";
  color: rgb(var(--main-color));
  background-color: rgb(var(--main-bg-color));
  transition: background-color 0.3s linear;
}

p {
  font-family: "Hind";
}

section {
  padding: 10rem 0;
}

/*********************************************************************************/

.light--mode {
  --main-color: 0, 0, 0;
  --secondary-color: 215, 61, 34;
  --main-bg-color: 245, 245, 245;
}

.navbar {
  position: sticky;
  top: 0;
  /* width: 100%; */

  display: flex;
  align-items: center;

  min-height: 90px;
  transition: background-color 0.3s linear;
  background-color: rgb(var(--main-bg-color));
  z-index: 10;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar__list {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.navbar__list a:hover,
.navbar__list i:hover {
  transition: 0.3s;
  color: rgb(var(--secondary-color));
}

/*********************************************************************************/

.hero {
  height: calc(100vh - 90px);
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero--location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero__contact {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.resume {
  cursor: pointer;
  background-color: transparent;
  color: rgb(var(--main-color));
  padding: 0.5rem 1rem;
  border: 1px solid rgba(var(--main-color), 0.25);
  border-radius: 0.5rem;
}

.resume:hover,
.resume:hover i {
  transition: 0.3s;
  background-color: rgb(var(--main-color));
  color: rgb(var(--main-bg-color));
}

.resume:hover {
  box-shadow: 0 0 3rem rgb(var(--secondary-color));
}

.hero__side {
  max-width: 400px;
  width: 100%;
}

img {
  border-radius: 50%;
  width: 100%;
}

@media (max-width: 50em) {
  .hero {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }
}

/*********************************************************************************/

.about__container {
  border: 0.15rem solid rgb(var(--main-color));
  backdrop-filter: blur(2rem);
  padding: 10rem 0;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text {
  width: 60%;
  margin-bottom: 3rem;
}

.text--custom {
  position: relative;
}

.text--custom::after {
  position: absolute;
  content: "";
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  height: 0.75rem;
  /* background-color: rgb(var(--secondary-color)); */
  background-color: rgb(var(--secondary-color));
  opacity: 0.6;
  z-index: -1;
}

.about__skills {
  width: 60%;
}

.skills--div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Hind";
  margin-bottom: 0.5rem;
}

.skills--div h3 {
  font-size: 1.25rem;
}

.skills--div ul {
  display: flex;
  gap: 0.5rem;
}

.skills--div li {
  font-size: 0.9rem;
  border: 1px solid rgba(var(--main-color), 0.25);
  border-radius: 0.5rem;
  padding: 0.1rem 0.7rem;
}

/*********************************************************************************/

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*********************************************************************************/

.contact__container {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.contact__text--title {
  margin-bottom: 3rem;
}

.contact__list {
  display: flex;
  gap: 5rem;
  /* font-family: "Montserrat"; */
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
}

.contact__list--link {
  display: flex;
  align-items: center;

  position: relative;
}

.contact__list--link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  transition: 0.3s;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(var(--secondary-color))
  );
  border-radius: 5rem;
}

.contact__list--link:hover::after {
  width: 100%;
  box-shadow: 0 0 5rem rgb(var(--secondary-color));
}

.contact__list i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media (max-width: 50em) {
  .contact__list {
    display: grid;
    grid-auto-flow: row;
  }
}

/*********************************************************************************/

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fs-body {
  font-size: var(--fs-body);
}

.container {
  --max-width: 1024px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.section__header {
  margin-bottom: 1rem;
}

.margin-bottom-300 {
  margin-bottom: 0.5rem;
}

.margin-bottom-400 {
  margin-bottom: 1rem;
}

.margin-bottom-700 {
  margin-bottom: 3rem;
}

/* TRAIL */
.trail {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.trail__path {
  fill: none;
  stroke: url(#trail-gradient);
  stroke-width: 0.5rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: blur(0.2rem);
}
