@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: 255, 255, 255;
  --secondary-color: 19, 84, 206;
  --main-bg-color: 0, 0, 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgb(var(--main-color));
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

p {
  font-family: "Hind";
}

body {
  background-color: rgb(var(--main-bg-color));
  transition: background-color 0.3s linear;
}

section {
  padding: 10rem 0;
  /* border: 1px solid white; */
}

.light--mode {
  --main-color: 0, 0, 0;
  --secondary-color: 215, 61, 34;
  --main-bg-color: 245, 245, 245;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2rem 5rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.2rem;

  height: 90px;
  transition: background-color 0.3s linear;
  background-color: rgb(var(--main-bg-color));
  z-index: 10;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.navbar__list {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.navbar__list a:hover,
.navbar__list i:hover {
  transition: 0.3s;
  color: rgb(var(--secondary-color));
}

.section__header {
  margin-bottom: 1rem;
}

.hero {
  height: calc(100vh - 90px);
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero--name {
  font-size: 2rem;
}

.hero__text {
  margin-bottom: 1rem;
}

.hero--location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.hero__contact {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.resume {
  cursor: pointer;
  background-color: transparent;
  color: rgb(var(--main-color));
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(var(--main-color), 0.25);
  border-radius: 0.5rem;
}

.resume:hover,
.resume:hover i {
  transition: 0.3s;
  background-color: rgb(var(--main-color));
  color: rgb(var(--main-bg-color));
}

.resume:hover {
  box-shadow: 0 0 3rem rgb(var(--secondary-color));
}

img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.about__container {
  border: 1px solid rgb(var(--main-color));
  backdrop-filter: blur(2rem);
  padding: 10rem 0;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text {
  width: 60%;
  margin-bottom: 3rem;
}

.text--custom {
  position: relative;
}

.text--custom::after {
  position: absolute;
  content: "";
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  height: 0.75rem;
  /* background-color: rgb(var(--secondary-color)); */
  background-color: rgb(var(--secondary-color));
  opacity: 0.6;
  z-index: -1;
}

.about__skills {
  width: 60%;
}

.skills--div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Hind";
  margin-bottom: 0.5rem;
}

.skills--div h3 {
  font-size: 1.25rem;
}

.skills--div ul {
  display: flex;
  gap: 0.5rem;
}

.skills--div li {
  font-size: 0.9rem;
  border: 1px solid rgba(var(--main-color), 0.25);
  border-radius: 0.5rem;
  padding: 0.1rem 0.7rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.contact__text--title {
  margin-bottom: 3rem;
}

.contact__list {
  display: flex;
  gap: 5rem;
  /* font-family: "Montserrat"; */
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
}

.contact__list--link {
  display: flex;
  align-items: center;

  position: relative;
}

.contact__list--link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  transition: 0.3s;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(var(--secondary-color))
  );
  border-radius: 5rem;
}

.contact__list--link:hover::after {
  width: 100%;
  box-shadow: 0 0 5rem rgb(var(--secondary-color));
}

.contact__list i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

/* TRAIL */
.trail {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.trail__path {
  fill: none;
  stroke: url(#trail-gradient);
  stroke-width: 0.5rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: blur(0.2rem);
}
