@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg-color: black;
  --main-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

h1,
h2 {
  font-family: "Montserrat";
}

p {
  font-family: "Hind";
}

body {
  background-color: var(--main-bg-color);
}

.hero {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.trail {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.trail path {
  fill: none;
  stroke: url(#trail-gradient);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: blur(2px);
}

path::after {
  content: "";
}
